@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  src: local("SpoqaHanSans-Bold"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Bold.woff2") format("woff2"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Bold.woff") format("woff"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  src: local("SpoqaHanSans-Regular"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Regular.woff2") format("woff2"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Regular.woff") format("woff"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  src: local("SpoqaHanSans-Light"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Light.woff2") format("woff2"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Light.woff") format("woff"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  src: local("SpoqaHanSans-Thin"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Thin.woff2") format("woff2"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Thin.woff") format("woff"),
    url("../font/SpoqaHanSans/SpoqaHanSans-Thin.ttf") format("truetype");
}
